//background
$primaryBackground: #0A0019;
$navBackground: rgba(6, 0, 0, 0.1);
$cookiesBackground: linear-gradient(180deg, #0A0019 0%, #36004B 34.88%, #300A2C 55.5%, #390B30 73.31%, #0A0019 100%);
$backgroundBox: #fff2e6;
$backgroundBoxes: #0c2323;
$backgroundDotsActive: #AE529F;
$socialCircleBg: #E8C5B0;
$yellowBackground: #D7DC4D;
$partnerCardBackground:#150d24;
$galleryTextBackground: rgba(255, 255, 255, 0.05);
$galleryPopupBackground: rgba(10, 0, 25, 1);
$gradientBackground: linear-gradient(96.43deg, #0A0019 0%, #130926 18%, #0A0019 36.5%, #1A0044 53%, #0A0019 71%, #0A001C 100%);
$cardBackgorund: linear-gradient(180deg, #0A0019 0%, #36004B 34.88%, #300A2C 55.5%, #390B30 73.31%, #0A0019 100%);
$newsletterBackground: linear-gradient(90deg, #0A001C 0%, #1A0044 30%, #120031 52.5%, #1A0044 76.5%, #0A0019 100%);
$conferenceBoxBackground: linear-gradient(180deg, #0A0019 0%, #36004B 34.88%, #300A2C 55.5%, #390B30 73.31%, #0A0019 100%);
$priceCardBackground: linear-gradient(180deg, #0A0019 0%, #36004B 34.88%, #300A2C 55.5%, #390B30 73.31%, #0A0019 100%);


//text colors
$whiteColor: #FEFEFE;
$activeColor: #AE529F;
$textColor2: #060000;
$textColor3: #53C2B4;
$textColor4: rgba(146, 146, 146, 1);
$textColor5: rgba(174, 82, 159, 1);
$textColor6: rgba(238, 238, 238, 1);
$textColor7: rgba(215, 220, 77, 1);
$textColor8: rgba(156, 216, 213, 1);
$textColor9: rgba(210, 149, 194, 1);


//buttons
$loginButton: #AE529F;
$yellowButton: #D7DC4D;
$speakersButton: rgba(174, 82, 159, 1);
$inputButton: rgba(174, 82, 159, 1);
$tabButton: rgba(174, 82, 159, 1);
$controlButton: #929292;
$controlGalleryButton: rgba(146, 146, 146, 1);
$controlButtonBg: #EEEEEE;
$galleryButton: rgba(98, 13, 146, 1);
$openGalleryButton:rgba(6, 0, 0, 1);



//border
$borderLine: #AE529F;
$cardBorder: rgba(98, 13, 146, 1);
$partnerBorder: rgba(174, 82, 159, 1);
$platinumPartnerBorder: rgba(238, 238, 238, 1);
$goldPartnerBorder: rgba(215, 220, 77, 1);
$silverPartnerBorder: rgba(146, 146, 146, 1);
$bronzedPartnerBorder: rgba(83, 194, 180, 1);
$friendPartnerBorder: rgba(156, 216, 213, 1);
$tabButtonBorder: rgba(174, 82, 159, 1);
$silverBorder: rgba(146, 146, 146, 1);
$cianBorder: rgba(83, 194, 180, 1);
$openGalleryBorder: rgba(215, 220, 77, 0.25);
$galleryTitleBorder: rgba(255, 255, 255, 0.15);


//box shadow
$boxShadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
$boxShadow1: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
$boxShadow2: rgba(0, 0, 0, 0.04) 0px 3px 5px;
