@import "../../styles/Colors.scss";

.conference-registration-container {
  width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;

  .balloon-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .body-main-content {
    width: 100%;
    max-width: 1127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-wrap: wrap;

    img {
      width: 100%;
      max-width: 890px;
      border-radius: 16px;
    }

    a {
      color: $textColor7;
      margin: 0 10px;
    }

    strong {
      font-size: 18px;
      line-height: 29px;
      font-weight: 600;
      color: $textColor7;
    }

    h3 {
      font-size: 28px;
      line-height: 34px;
      font-weight: 500;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    p {
      font-size: 18px;
      line-height: 29px;
      font-weight: 400;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-top: 8px;
      margin: 0 10px;
    }

    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      li {
        color: $whiteColor;
        margin: 5px;
      }
    }
  }

  .box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 10px;

    .conference-box {
      width: 100%;
      max-width: 1127px;
      border: 1px solid $silverBorder;
      border-radius: 20px;
      background: $conferenceBoxBackground;
      padding: 40px 64px 64px 64px;
      margin: 20px 10px;
      z-index: 1;

      .tab-buttons {
        padding: 8px;
        display: inline-flex;
        border-radius: 12px;
        gap: 8px;
      }

      .list-content {
        width: 100%;
        .content {
          .program-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-bottom: 1px solid $cianBorder;

            &:last-of-type {
              border-bottom: none;
            }

            .title-content {
              display: flex;
              flex: 1;
              max-width: 20%;
              flex-wrap: wrap;
              word-wrap: break-word;
              word-break: break-all;
              white-space: normal;

              .program-title {
                font-size: 18px;
                line-height: 25px;
                font-weight: 600;
                color: $textColor5;
              }
            }

            .body-content {
              display: flex;
              flex: 2;
              max-width: 80%;
              flex-wrap: wrap;
              word-wrap: break-word;
              white-space: normal;
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;

              pre {
                text-wrap: wrap;
                font-family: "Clash Display";
                font-size: 18px;
                line-height: 20px;
                font-weight: 400;
              }

              a {
                color: $textColor7;
              }

              strong {
                color: $textColor7;
              }

              h3 {
                font-size: 28px;
                line-height: 34px;
                font-weight: 500;
                margin-block-start: 0;
                margin-block-end: 0;
              }
              p {
                font-size: 18px;
                line-height: 29px;
                font-weight: 400;
                margin-block-start: 0;
                margin-block-end: 0;
                padding-top: 8px;
              }

              ul {
                li {
                  // list-style: none;
                  color: $whiteColor;
                  margin: 5px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .conference-registration-container {
    .box-container {
      .conference-box {
        padding: 40px 16px 16px 16px;
  
        .tab-buttons {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
        }
  
        .list-content {
          .content {
            .program-list {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              align-items: flex-start;
  
              .title-content {
                display: flex;
                flex: 1;
                max-width: 100%;
                flex-wrap: wrap;
              }
  
              .body-content {
                max-width: 100%;
                padding-bottom: 24px;
              }
            }
          }
        }
      }
    }
   
  }
}
