@import "../../styles/Colors.scss";

.partners-page-container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  z-index: 1;

  .header {
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-height: 580px;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../public/assets/partners-header.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.6; 
      z-index: 0;
    }

    .header-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: $whiteColor;
        text-align: center;

        .header-title {
          text-align: center;
          font-size: 54px;
          line-height: 64px;
          font-weight: 400;
          margin-block-start: 0;
          margin-block-end: 0;
        }
        .header-subtitle {
          text-align: center;
          font-size: 54px;
          line-height: 65px;
          font-weight: 600;
          margin-block-start: 0;
          margin-block-end: 0;
          padding-top: 24px;
        }

        .button-content{
            padding-top: 24px;
        }
      }
  }
}


@media screen and (max-width: 768px) {
    .partners-page-container {
        .header {
          .header-content {
            padding: 0 20px;
            
              .header-title {
                text-align: center;
                font-size: 40px;
                line-height: 48px;
              }

              .header-subtitle {
                text-align: center;
                font-size: 24px;
                line-height: 29px;
                font-weight: 600;
                margin-block-start: 0;
                margin-block-end: 0;
                padding-top: 24px;
              }
      
              .button-content{
                  padding-top: 24px;
              }
            }
        }
      }
}