@import "../../styles/Colors.scss";

.home-speaker_container {
  width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;

  .balloon-container{
    width: 100%;
    position: absolute;
 
  }

  .title-main {
    width: 100%;
    max-width: 600px;
    text-align: center;
    z-index: 1;

    .speaker-title {
      font-size: 54px;
      line-height: 65px;
      font-weight: 600;
    }

    .speaker-subtitle {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
    }
  }

  .speakers-content {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    z-index: 1;
    margin: 0 30px;

    .speaker-card {
      width: calc(50% - 16px);
      // max-width: 664px;
      min-height: 400px;
      background: $cardBackgorund;
      border: 3px solid $cardBorder;
      border-radius: 8px;
      margin: 0 10px;
   

      .content {
        padding: 16px;
        margin: 48px;
       

        .text {
            padding-top: 32px;
            word-wrap: break-word;
            
            h3 {
                font-size: 28px;
                line-height: 34px;
                font-weight: 500;
                margin-block-start: 0;
                margin-block-end: 0;
            }
            p {
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;
                margin-block-start: 0;
                margin-block-end: 0;
                padding-top: 8px;
            }
        }
        .logo-image {
            
          img {
            width: 30px;
            height: 20px;
          }
        }

        .profile-main {
          display: flex;
          align-items: center;
          gap: 16px;
          padding-top: 32px;
          
          .speaker-image {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 100%;
          }

          .speaker-info{
            .speaker-name{
                font-size: 15px;
                line-height: 18px;
                font-weight: 600;
                margin-block-start: 0;
                margin-block-end: 0;
               
            }
            .speaker-description{
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                margin-block-start: 0;
                margin-block-end: 0;
            }
          }
        }
      }
    }
  }

  .btn-content {
    padding: 40px 0;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
    .home-speaker_container {

     
        .title-main {
          width: 100%;
          max-width: 600px;
          text-align: center;
      
          .speaker-title {
            font-size: 40px;
            line-height: 48px;
            font-weight: 600;
          }
      
          .speaker-subtitle {
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
          }
        }
      
        .speakers-content {
          display: flex;
          flex-wrap: wrap;

          .speaker-card {
            width: 100%;
            max-width: 360px;
            margin: 0 10px;
      
            .content {
              padding: 32px;

              .logo-image {
                img {
                  width: 45px;
                  height: 30px;
                }
              }

              .text {
                  padding-top: 32px;
      
                  .card-text{
                      font-size: 24px;
                      line-height: 29px;
                  }
              }
              
      
              .profile-main {
                display: flex;
                align-items: center;
                gap: 16px;
                padding-top: 32px;
                
                .speaker-image {
                  width: 60px;
                  height: 60px;
                  object-fit: cover;
                  border-radius: 100%;
                }
      
                .speaker-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;

                  .speaker-name{
                      font-size: 15px;
                      line-height: 18px;
                      font-weight: 600;
                      margin-block-start: 0;
                      margin-block-end: 0;
                     
                  }
                  .speaker-description{
                      font-size: 14px;
                      line-height: 17px;
                      font-weight: 400;
                  }
                }
              }
            }
          }
        }
      
        .btn-content {
          padding: 40px 0;
        }
      }
}