@import "../../styles/Colors.scss";

.news-container {
  width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .balloon-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .balloon-one {
      width: 100%;
      max-width: 590px;
      position: absolute;
      bottom: 50px;
      right: 20px;
      z-index: 0;
      animation: move-one 30s ease-in-out infinite;
    }
    .balloon-two {
      width: 100%;
      max-width: 105px;
      position: absolute;
      top: 90px;
      right: 0;
      z-index: 0;
      animation: move-two 65s ease-in-out infinite;
    }
    .balloon-three {
      width: 100%;
      max-width: 590px;
      position: absolute;
      top: 45px;
      left: 10px;
      z-index: 0;
      animation: move-three 40s ease-in-out infinite;
    }

    @keyframes move-one {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(160px, -40px);
      }
      50% {
        transform: translate(-120px, 30px);
      }
      75% {
        transform: translate(120px, -30px);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes move-two {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(160px, -40px);
      }
      50% {
        transform: translate(-140px, 190px);
      }
      75% {
        transform: translate(180px, -130px);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes move-three {
      0% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(30px);
      }
      50% {
        transform: translateY(-30px);
      }
      75% {
        transform: translateY(20px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .news-titles-content {
    width: 100%;
    max-width: 600px;
    text-align: center;
    z-index: 1;

    .news-title {
      font-size: 54px;
      line-height: 65px;
      font-weight: 600;
    }
    .news-subtitle {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
    }
  }

  .news-content {
    .news-box {
      width: 100%;
      max-width: 432px;
      height: 524px;
      display: flex;
      flex-direction: column;
      a {
        color: $whiteColor;
        text-decoration: none;

        .content {
          padding: 12px;

          .image-content {
            width: 100%;
            max-width: 416px;

            img {
              width: 100%;
              height: 270px;
              border-radius: 8px;
              object-fit: cover;
              opacity: 0.7;
            }
          }

          .text-content {
            text-align: start;
            .head-date {
              font-size: 18px;
              line-height: 22px;
              font-weight: 600;
              color: $textColor3;
            }
            .box-title {
              font-size: 28px;
              line-height: 34px;
              font-weight: 600;
              margin-block-start: 0;
              margin-block-end: 0;
              word-wrap: break-word;
            }
            .box-subtitle {
              font-size: 18px;
              line-height: 22px;
              font-weight: 400;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
  .btn-content {
    padding: 40px 0;
  }
}

@media screen and (max-width: 768px) {
  .news-container {

    .balloon-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      .balloon-one {
        width: 100%;
        max-width: 290px;
        position: absolute;
        bottom: 50px;
        right: 20px;
        z-index: 0;
        animation: move-one 30s ease-in-out infinite;
      }
      .balloon-two {
        width: 100%;
        max-width: 105px;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 0;
        animation: move-two 65s ease-in-out infinite;
      }
      .balloon-three {
        width: 100%;
        max-width: 290px;
        position: absolute;
        top: 45px;
        left: 10px;
        z-index: 0;
        animation: move-three 40s ease-in-out infinite;
      }
  
      @keyframes move-one {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(60px, -10px);
        }
        50% {
          transform: translate(-40px, 15px);
        }
        75% {
          transform: translate(60px, -15px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
  
      @keyframes move-two {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(60px, -10px);
        }
        50% {
          transform: translate(-40px, 15px);
        }
        75% {
          transform: translate(60px, -15px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
      @keyframes move-three {
        0% {
          transform: translateY(0);
        }
        25% {
          transform: translateY(30px);
        }
        50% {
          transform: translateY(-30px);
        }
        75% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
    .news-titles-content {
      .news-title {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
      }
      .news-subtitle {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
      }
    }

    .btn-content {
      padding: 40px 0;
    }
  }
}
