@import "../../styles/Colors.scss";

.video-container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

    .slide-title {
      text-align: center;
      font-size: 54px;
      line-height: 64px;
      font-weight: 600;
    }
    .slide-subtitle {
      text-align: center;
      font-size: 28px;
      line-height: 34px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 768px) {
    .video-container {

        .slide-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
        
            .slide-title {
              text-align: center;
              font-size: 40px;
              line-height: 48px;
              font-weight: 600;
            }
            .slide-subtitle {
              text-align: center;
              font-size: 28px;
              line-height: 34px;
              font-weight: 500;
            }
          }
      
       
      }
}
