@import "../../styles/Colors.scss";

.video-container {
  width: 100%;
  max-width: 1920px;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
  .video{
    width: 100%;
    object-fit: cover;
  }
  .video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(6, 0, 0, 0.2);
    padding: 0 20px;

    .video-title {
      text-align: center;
      font-size: 54px;
      line-height: 64px;
      font-weight: 600;
    }
    .video-subtitle {
      text-align: center;
      font-size: 28px;
      line-height: 34px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 1200px) {
    .video-container {
      height: 750px;

      .video {
        pointer-events: none;
        height: 750px;
      }
        .video-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            width: 100%;
            max-width: 380px;
        
            .video-title {
              text-align: center;
              font-size: 40px;
              line-height: 48px;
              font-weight: 600;
            }
            .video-subtitle {
              text-align: center;
              font-size: 28px;
              line-height: 34px;
              font-weight: 500;
            }
          }
      
       
      }
}
