
.social-media-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .social-media-content{
        padding-top: 22px;
        .text{
            .title{
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }

        .icons {
            display: flex;
            gap: 20px;
            padding-top: 18px;

            img{
               width: 44px;
               height: 44px; 
            }
        }
    }
}

@media screen and (max-width: 768px) {
.social-media-container{
    justify-content: flex-start;
    
    .social-media-content{
        .icons {
            img{
               width: 34px;
               height: 34px; 
            }
        }
    }
}
}