@import "../../styles/Colors.scss";

.partners-section-container {
  width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .balloon-container{
    width: 100%;
    position: absolute;
   z-index: 0;
 
  }

  .partners-content {
    width: 100%;
    max-width: 1360px;
    z-index: 1;

    .partners-titles {
      text-align: center;

      .title {
        font-size: 54px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
      }
    }
  }
  .partners {
    z-index: 1;
    .partners-main {
      padding: 24px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .partners-section-container {
    width: 100%;
    max-width: 1920px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    .partners-content {
      width: 100%;
      max-width: 1360px;
      z-index: 1;
  
      .partners-titles {
        text-align: center;
  
        .title {
          font-size: 40px;
          font-weight: 600;
          line-height: 48px;
          text-align: center;
        }
      }
    }
    .partners {
      .partners-main {
        padding: 24px 0;
      }
    }
  }
}
