.banner-container {
  width: 100%;
  max-width: 1920px;
  position: relative;
  z-index: 1;
  

  .desktop-banner-image {
    width: 100%;
    max-width: 1920px;
    z-index: 1;
  }

  .mobile-banner-image {
      display: none;
  }
}

@media screen and (max-width: 420px) {
  .banner-container {
    width: 100%;
    height: 312px;

    .desktop-banner-image {
      display: none;
    }
    .mobile-banner-image{
      width: 100%;
      display: flex;
    }
  }
}
