@import "../../../styles/Colors.scss";

.institutional-partners-container {
  margin: 0 10px;

  .title-box {
    width: 100%;
    max-width: 1360px;
    background-color: transparent;
    border: 1px solid $partnerBorder;
    border-radius: 4px;
    text-align: center;

    .title {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      margin-block-start: 0;
      margin-block-end: 0;
      color: $textColor5;
    }
  }

  .partner-box {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .partner-card {
      width: 100%;
      max-width: 354px;
      height: 158px;
      background-color: $partnerCardBackground;
      border-radius: 8px;

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image-content {
          img {
            width: 75px;
            height: 50px;
            border-radius: 6px;
          }
        }

        .text-content {
          display: flex;
          justify-content: center;
          .partner-name {
            font-size: 28px;
            line-height: 34px;
            font-weight: 500;
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .institutional-partners-container {
    .title-box {
      .title {
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
      }
    }

    .partner-box {
      .partner-card {
        .content {
          .image-content {
            img {
              width: 46px;
              height: 30px;
            }
          }
          .text-content {
            .partner-name {
              font-size: 24px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
